<launch>

<!-- The namespace where images are published -->

    <arg    name="directory"
     default="/home/zhanghm/Datasets/KITTI/tracking/training/"
	/>

    <node   name="kitti_tracking_player" pkg="kitti_tracking_player" type="kitti_tracking_player"
            required="true"
           args= "-d $(arg directory) -s 0000 -f 10 -a 1"
 
            output="screen"
            />
            
   <node   name="tracking_demo_node" pkg="tracking_demo_node" type="tracking_demo_node"
            required="true"
 
            output="screen"
            />
            
</launch>
