<launch>

<!-- The namespace where images are published -->

    <arg    name="directory"
     default="/home/zhanghm/Datasets/KITTI/tracking/training/"
	/>

    <node   name="kitti_tracking_player" pkg="kitti_tracking_player" type="kitti_tracking_player"
            required="true"
           args= "-d $(arg directory) -s 0000 -f 10 -a 1"
 
            />
            
   <node   name="tracking_demo_node" pkg="tracking_demo_node" type="tracking_demo_node"
            required="true"
 
            output="screen"
            />
            
    <!-- Launch RViz-->
	<!--  <arg  name="rviz" default="$(find tracking_demo_node)/cfg/tracking_demo.rviz" />
    <node pkg="rviz" type="rviz" name="rviz"
            args="-d $(arg rviz)" output="screen"
    />
	-->
</launch>
